# DS3 Kaggle Workshop - Advanced Practices in Pandas

Welcome to our Advanced Practices in Pandas Jupyter Notebook. With our interactive problems, we hope to guide you in your learning process. Here, you can practice useful pandas functions for DataFrame manipulation and analysis. Have fun!

The dataset we will be using is called “Uber and Lyft Cab Prices” from Kaggle. Here is the link to the dataset: https://www.kaggle.com/ravi72munde/uber-lyft-cab-prices?select=weather.csv. For easier access, we have downloaded it into the same repository as this Jupyter Notebook for you.

**Note.** The slideshow presentation will be published after the workshop. This will allow you to look back at the material covered and go over concepts that we were not able to get to during the timeframe.

## Importing Libraries and the Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
cab_rides = pd.read_csv('cab_rides.csv')

In [3]:
weather = pd.read_csv('weather.csv')

## Concatenation

## Merge and Join

## Transpose

In [4]:
ten_cabs= cab_rides.head(10)
ten_cabs

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
5,0.44,Lyft,1545071112138,North Station,Haymarket Square,16.5,1.0,f6f6d7e4-3e18-4922-a5f5-181cdd3fa6f2,lyft_lux,Lux Black
6,1.08,Lyft,1543208580200,Northeastern University,Back Bay,10.5,1.0,462816a3-820d-408b-8549-0b39e82f65ac,lyft_plus,Lyft XL
7,1.08,Lyft,1543780384677,Northeastern University,Back Bay,16.5,1.0,474d6376-bc59-4ec9-bf57-4e6d6faeb165,lyft_lux,Lux Black
8,1.08,Lyft,1543818482645,Northeastern University,Back Bay,3.0,1.0,4f9fee41-fde3-4767-bbf1-a00e108701fb,lyft_line,Shared
9,1.08,Lyft,1543315522249,Northeastern University,Back Bay,27.5,1.0,8612d909-98b8-4454-a093-30bd48de0cb3,lyft_luxsuv,Lux Black XL

In [5]:
ten_cabs_transpose = ten_cabs.transpose() #same as .T
ten_cabs_transpose

,0,1,2,3,4,5,6,7,8,9
distance,0.44,0.44,0.44,0.44,0.44,0.44,1.08,1.08,1.08,1.08
cab_type,Lyft,Lyft,Lyft,Lyft,Lyft,Lyft,Lyft,Lyft,Lyft,Lyft
time_stamp,1544952607890,1543284023677,1543366822198,1543553582749,1543463360223,1545071112138,1543208580200,1543780384677,1543818482645,1543315522249
destination,North Station,North Station,North Station,North Station,North Station,North Station,Northeastern University,Northeastern University,Northeastern University,Northeastern University
source,Haymarket Square,Haymarket Square,Haymarket Square,Haymarket Square,Haymarket Square,Haymarket Square,Back Bay,Back Bay,Back Bay,Back Bay
price,5,11,7,26,9,16.5,10.5,16.5,3,27.5
surge_multiplier,1,1,1,1,1,1,1,1,1,1
id,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,4bd23055-6827-41c6-b23b-3c491f24e74d,981a3613-77af-4620-a42a-0c0866077d1e,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,f6f6d7e4-3e18-4922-a5f5-181cdd3fa6f2,462816a3-820d-408b-8549-0b39e82f65ac,474d6376-bc59-4ec9-bf57-4e6d6faeb165,4f9fee41-fde3-4767-bbf1-a00e108701fb,8612d909-98b8-4454-a093-30bd48de0cb3
product_id,lyft_line,lyft_premier,lyft,lyft_luxsuv,lyft_plus,lyft_lux,lyft_plus,lyft_lux,lyft_line,lyft_luxsuv
name,Shared,Lux,Lyft,Lux Black XL,Lyft XL,Lux Black,Lyft XL,Lux Black,Shared,Lux Black XL

In [6]:
weather_transpose = weather.T # same as .transpose()
weather_transpose

,0,1,2,3,4,5,6,7,8,9,...,6266,6267,6268,6269,6270,6271,6272,6273,6274,6275
temp,42.42,42.43,42.5,42.11,43.13,42.34,42.36,42.21,42.07,43.05,...,44.85,44.83,44.8,44.75,44.77,44.72,44.85,44.82,44.78,44.69
location,Back Bay,Beacon Hill,Boston University,Fenway,Financial District,Haymarket Square,North End,North Station,Northeastern University,South Station,...,Boston University,Fenway,Financial District,Haymarket Square,North End,North Station,Northeastern University,South Station,Theatre District,West End
clouds,1,1,1,1,1,1,1,1,1,1,...,0.89,0.88,0.89,0.89,0.89,0.89,0.88,0.89,0.89,0.89
pressure,1012.14,1012.15,1012.15,1012.13,1012.14,1012.15,1012.15,1012.16,1012.12,1012.12,...,1000.7,1000.7,1000.7,1000.69,1000.69,1000.69,1000.71,1000.7,1000.7,1000.7
rain,0.1228,0.1846,0.1089,0.0969,0.1786,0.2068,0.2088,0.2069,0.102,0.1547,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
time_stamp,1545003901,1545003901,1545003901,1545003901,1545003901,1545003901,1545003901,1545003901,1545003901,1545003901,...,1543819974,1543819974,1543819974,1543819974,1543819974,1543819974,1543819974,1543819974,1543819974,1543819974
humidity,0.77,0.76,0.76,0.77,0.75,0.77,0.77,0.77,0.78,0.75,...,0.95,0.96,0.96,0.96,0.96,0.96,0.96,0.96,0.96,0.96
wind,11.25,11.32,11.07,11.09,11.49,11.49,11.46,11.37,11.28,11.58,...,1.52,1.53,1.53,1.53,1.53,1.52,1.54,1.54,1.54,1.52

In [7]:
# practice problem on merged or joined dataset

## Groupby

In [8]:
# total distance miles done based on cab_type
sum_distance = cab_rides.groupby('cab_type')[['distance']].sum()
sum_distance

           distance
cab_type
Lyft      672293.79
Uber      845136.48

In [9]:
# total spent on cab_type
sum_price = cab_rides.groupby('cab_type')[['price']].sum()
sum_price

               price
cab_type
Lyft      5333957.98
Uber      5221435.00

In [10]:
# average temperature based on location
weather.groupby('location')[['temp']].mean()

                              temp
location
Back Bay                 39.082122
Beacon Hill              39.047285
Boston University        39.047744
Fenway                   38.964379
Financial District       39.410822
Haymarket Square         39.067897
North End                39.090841
North Station            39.035315
Northeastern University  38.975086
South Station            39.394092
Theatre District         38.986711
West End                 38.983403

In [11]:
# averages based on location
weather.groupby('location').mean()

,temp,clouds,pressure,rain,time_stamp,humidity,wind
location,,,,,,,
Back Bay,39.082122,0.678432,1008.447820,0.056012,1.543857e+09,0.764073,6.778528
Beacon Hill,39.047285,0.677801,1008.448356,0.057097,1.543857e+09,0.765048,6.810325
Boston University,39.047744,0.679235,1008.459254,0.054688,1.543857e+09,0.763786,6.692180
Fenway,38.964379,0.679866,1008.453289,0.054863,1.543857e+09,0.767266,6.711721
Financial District,39.410822,0.676730,1008.435793,0.061352,1.543857e+09,0.754837,6.860019
Haymarket Square,39.067897,0.676711,1008.445239,0.059593,1.543857e+09,0.764837,6.843193
North End,39.090841,0.676730,1008.441912,0.058712,1.543857e+09,0.764054,6.853117
North Station,39.035315,0.676998,1008.442811,0.056542,1.543857e+09,0.765545,6.835755
Northeastern University,38.975086,0.678317,1008.444168,0.054197,1.543857e+09,0.767648,6.749426
South Station,39.394092,0.677495,1008.438031,0.059537,1.543857e+09,0.755468,6.848948
Theatre District,38.986711,0.677763,1008.444742,0.060214,1.543857e+09,0.767992,6.834302
West End,38.983403,0.677247,1008.441090,0.058803,1.543857e+09,0.767266,6.816233

In [12]:
# practice problem on merged or joined dataset

## Aggregate

## Apply

## Lambda